<p style="color: green"><%= notice %></p>

<%= render @consultation %>

<div>
<%= link_to "See in Calendar", "/pages/calendar" %>
  <%#= link_to "Edit this consultation", edit_consultation_path(@consultation) %> |
  <%#= button_to "Destroy this consultation", @consultation, method: :delete %>
</div>
