<!DOCTYPE html>
<html>
  <head>
    <title>Pretty Paris</title>
  </head>
  <style>
  .container-fluid {
  display: flex;
  padding: 60px;
  }

img {
  max-width: 90% ;
  max-height:100% ;
}

.text {
  max-width: 50% ;
  font-size: 16px;
}
  </style>
  <body>
    <div class="container-fluid">
      <div class="image">
        <%= image_tag("9.png") %> 
        </div>
      <div class="text">
      <h1> Who are we? </h1>
        <p> 你好, kia ora, </p>
        We are Wupo collective, currently made up of members Mandy Lan and Kim Gerlach.  
        <p><strong>Mandy Lan</strong> is a BIPOCQT+ previously the only female presenting software in a team of 30, started her own yoga classes within the company. She’s also led emergency relief teams for BIPOC refugees and co-created performance activism pieces in the Humboldt forum and ZK/U. </p>
        <p><strong>Kim Gerlach</strong>, she /her,  is a breathwork and scent practioner. Her olfactive work is focused on the cultivation of presence and the creation of new pathways our bodies and minds can follow to heal. She addresses the topics of finding intuition and inner guidance, multiculturalism, and the power of breath. Kim aims to work with decolonial and trauma-sensitive approaches</p>
        </p>
      </div>
    </div>
  </body>
</html>
        
 
       