<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2x2 Image Grid</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Make the body cover the viewport height */
        }

        .image-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            max-width: 100% ;
            max-height: 700px;
        }

        .image-container img {
            max-width: 100% ;
            max-height: 100% ;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="image-container">
    <%= image_tag("3.png") %>
    <%= image_tag("4.png") %>
    <%= image_tag("1.png") %>
    <%= image_tag("6.png") %>
    </div>
</body>

</html>
